<div class="text-center">
    <form method="post" asp-action="Inputs">
        <label for="gameType">Game Type:</label>
        <input type="text" name="gameType">
        <button type="submit">Submit</button>
        
        <label for="strategy">Strategy:</label>
        <input type="text" name="strategy">
        <button type="submit">Submit</button>
        
        <label for="sitDownAfterRound">Sit Down After Round:</label>
        <input type="number" name="sitDownAfterRound">
        <button type="submit">Submit</button>
        
        <label for="currRoll">Current Roll:</label>
        <input type="number" name="currRoll">
        <button type="submit">Submit</button>
    </form>

    <h1> @ViewData["info"]</h1>
</div>