
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/site.css">
    <link rel="icon" href="result.png"/>
    <title>none</title>
</head>

<body>
<h1> Greedy Pig Game</h1>
<div class="text-center">
    <form method="post" asp-action="RecurrInput">
        <label for="currRoll">Current Roll:</label>
        <input type="number" name="currRoll">

        <button type="submit">Submit</button>
    </form>

    <p> @ViewData["playResult"]</p>

</div>
</body>